<?xml version="1.0" encoding="UTF-8"?>
<settings>
  <activeProfiles>
    <activeProfile>jenkins</activeProfile>
  </activeProfiles>
  <servers>
    <server>
      <id>releases</id>
      <username>jenkins-admin</username>
      <password>Run mvn --encrypt-password secret</password>
    </server>
    <server>
      <id>snapshots</id>
      <username>jenkins-admin</username>
      <password>Run mvn --encrypt-password secret</password>
    </server>
    <server>
      <id>plugin-snapshots</id>
      <username>jenkins-admin</username>
      <password>Run mvn --encrypt-password secret</password>
    </server>
    <server>
      <id>plugin-releases</id>
      <username>jenkins-admin</username>
      <password>Run mvn --encrypt-password secret</password>
    </server>
    <server>
      <id>site</id>
      <username>javadocs</username>
      <password>javadocs</password>
      <filePermissions>664</filePermissions>
      <directoryPermissions>775</directoryPermissions>
    </server>  
  </servers>
  <profiles>
    <profile>
      <id>jenkins</id>
      <repositories>
        <repository>
          <id>libs-releases-local</id>
          <url>http://maven.acm-sl.org/libs-releases-local</url>
          <releases><enabled>true</enabled></releases>
          <snapshots><enabled>false</enabled></snapshots>
        </repository>
        <repository>
          <id>libs-snapshots-local</id>
          <url>http://maven.acm-sl.org/libs-snapshots-local</url>
          <releases><enabled>false</enabled></releases>
          <snapshots><enabled>true</enabled></snapshots>
        </repository>
      </repositories>
      <pluginRepositories>
        <pluginRepository>
          <id>plugins-releases-local</id>
          <url>http://maven.acm-sl.org/plugins-releases-local</url>
          <releases>
            <enabled>true</enabled>
          </releases>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
        </pluginRepository>
        <pluginRepository>
          <id>plugins-snapshots-local</id>
          <url>http://maven.acm-sl.org/plugins-snapshots-local</url>
          <releases>
            <enabled>false</enabled>
          </releases>
          <snapshots>
            <enabled>true</enabled>
          </snapshots>
        </pluginRepository>
      </pluginRepositories>
    </profile>
  </profiles>
  <mirrors>
    <mirror>
      <id>artifactory</id>
      <name>artifactory Mirror of http://repo1.maven.org/maven2/</name>
      <url>http://maven.acm-sl.org/everything</url>
      <mirrorOf>*</mirrorOf>
    </mirror>
  </mirrors>
</settings>
