daemonize = 1
direct_addressing = 1

# ActiveMQ connector settings:
connector = activemq
plugin.activemq.pool.size = 1
# This container has to be linked to the ActiveMQ container using "activemq" as alias
plugin.activemq.pool.1.host = activemq
plugin.activemq.pool.1.port = ##ACTIVEMQ_PORT_61613_TCP_PORT##
plugin.activemq.pool.1.user = server
plugin.activemq.pool.1.password = c2mA8TBkEV5mu9w6jaX7hFvdNZXmNqsenD7ufHa5yKtb3tb9hARRtPmJKAKPC32h
plugin.activemq.heartbeat_interval = 30

# How often to send registration messages
registerinterval = 600

# Security provider
securityprovider = psk
plugin.psk = nqm9wy97tjfr9fH4phKS3Cf74r4KRn9mwjA2UTnPpYWsTPsBEXNxZe6KXFdZ8fRM

# Override platform defaults?
libdir = /usr/libexec/mcollective
#logger_type = file
#loglevel = info
#logfile = /var/log/mcollective.log
#keeplogs = 5
#max_log_size = 2097152
#logfacility = daemon