[submodule ".dry-wit"]
	path = .dry-wit
	url = https://github.com/rydnr/dry-wit
[submodule ".templates/common-files/dry-wit"]
	path = .templates/common-files/dry-wit
	url = https://github.com/rydnr/dry-wit
