CREATE USER ${TTRSS_DB_USER} IDENTIFIED BY '${TTRSS_DB_PASSWORD}';
GRANT ALL PRIVILEGES ON ${TTRSS_DB_NAME}.* TO '${TTRSS_DB_USER}'@'__MYIP__' IDENTIFIED BY '${TTRSS_DB_PASSWORD}' WITH GRANT OPTION;
FLUSH PRIVILEGES;