# install template
ENV DEBIAN_FRONTEND="noninteractive"
COPY install-files/pkg-install.sh \
     install-files/pkg-install.inc.sh \
     install-files/system-cleanup.sh \
     install-files/system-cleanup.inc.sh \
     /usr/local/bin/

RUN chmod +x ${PKG_INSTALL} ${PKG_CLEANUP} && \
    mkdir -p /var/local/ && \
    touch /var/local/docker-installed-packages.txt && \
    ${SYSTEM_UPDATE} && \
    ${PKG_INSTALL} wget gettext sudo && \
    ${SYSTEM_CLEANUP}

# End of install template
