# v sdkman
RUN ${SYSTEM_UPDATE} && \
    ${PKG_INSTALL} zip unzip && \
    ${SYSTEM_CLEANUP} && \
    su - ${SERVICE_USER} 'cd ${SERVICE_USER_HOME} && wget -q -O- http://get.sdkman.io | bash && chmod +x ${SERVICE_USER_HOME}/.sdkman/bin/sdkman-init.sh'
# ^ sdkman