* set-square Docker image

This image runs set-square within a Docker container.

* Usage

# docker run -d --name socat -v /var/run/docker.sock:/var/run/docker.sock sequenceiq/socat
# docker run -it --rm --link socat:socat -v ${PWD}:/work ${REGISTRY}/${NAMESPACE}/${IMAGE}:${TAG} [set-square arguments]